%h1 Listing enemies

%table
  %tr
    %th Name
    %th Reason
    %th
    %th
    %th

  - @enemies.each do |enemy|
    %tr
      %td= enemy.name
      %td= enemy.reason
      %td= link_to 'Show', enemy
      %td= link_to 'Edit', edit_enemy_path(enemy)
      %td= link_to 'Destroy', enemy, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Enemy', new_enemy_path
